.cmp-container {
    margin: 0 auto!important;
    padding: 0;
    background-position: center;
}


/* Container Styles */


@import 'styles/header';
@import 'styles/footer';
@import 'styles/flex';
@import 'styles/fixedwidth';
@import 'styles/fixedwidthnarrow';
@import 'styles/paddingleft';
@import 'styles/paddingright';
@import 'styles/marginbottom';
@import 'styles/paddingtopbottom';