.featuredcategorylist{
    margin-top: -27px;

}

.cmp-categorylist {
    padding: 0;
}

.cmp-categorylist__content {
    display: grid;
    grid-gap: 3rem 2rem;
    grid-template-columns: repeat(auto-fit, 440px);
    justify-content: center;
}

.cmp-categorylist__anchor {
    display: block;
    line-height: 1rem;
    text-align: center;
    width: 6rem;
}

.cmp-categorylist__imagewrapper {
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 0%;
    box-shadow: 0 0 0 0px;
    display: block;
    width: 440px;
    height: 320px;
    margin: 0 auto 1rem auto;
}

.cmp-categorylist__image {
    height: 100%;
    opacity: 0;
    width: 100%;
}
.cmp-categorylist__name {
    display: block;
    background-color: black;
    width: 250px;
    height: 90px;
    margin-top: -98px;
    margin-left: 200px;
    padding-left: 24px;
    padding-top: 19px;

    text-align: left;
    font: normal normal 600 24px/30px Source Serif Pro;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

    border-bottom: 0.5rem solid #252BFF !important;
}

.cmp-categorylist__title {
    text-align: center;
    padding: 2rem;
    display: none;
}
