.cmp-container--footer {
    padding-top:50px;
    color: #172026;
    min-height: 240px;
    line-height: 25px;


    ul {
        list-style: none;
        padding: 0px;
    }

    li {
        display: inline-block;
        margin-right: 20px;
        text-decoration: underline;
    }
     
  
       /* Tablet width */
   @media (max-width: $screen-medium) {

    padding-top:0px;

}
    

@media (max-width:650px) {
    padding-left: 32px;
}

}


