.cmp-contentfragment {}
.cmp-contentfragment__title {

    display: none;
}
.cmp-contentfragment__description {}
.cmp-contentfragment__elements {

p {

    padding-top: 10px;
    line-height: 1.25em;
    padding-bottom: 10px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;

    @media screen and (max-width: 790px) {
        padding-left: 5px;
        padding-right: 5px;
    }
}

h3 {

    padding-top: 20px;
    font-size: 20px !important;
    font-weight: 700 !important;
    margin-bottom: 10px;
    text-align: center;

    line-height: 1.25em;
    letter-spacing: 0.32px;
    color: #172026;
    opacity: 1;
}

}
.cmp-contentfragment__element {}
//.cmp-contentfragment__element--myElementName {}
.cmp-contentfragment__element-title {}
.cmp-contentfragment__element-value {}