

.cmp-container--app {
    margin: auto;
    margin-top: 100px;
    min-width: 384px;
    width: 384px;
    padding: 0px;
 
    height: 737px;
    min-height: 737px;
    max-height: 737px;
    border-style: solid;
    border-radius: 70px;
    border-width: 20px;
    overflow: hidden;


    .root {
        padding-top: 0px !important;

    }

}

.cmp-container--screens {
    margin: auto;
    margin-top: 100px;
    min-width: 540px;
    width: 540px;
    padding: 0px !important;
    height: 960px;
    min-height: 960px;
    max-height: 960px;
    border-style: solid;
    border-radius: 0px;
    border-width: 10px;
    overflow: hidden;
   
    .root {
        padding-top: 0px;
    }

}

.cmp-container--alexa {
    margin: auto;
    margin-top: 100px;
    min-width: 913px;
    width: 913px;
    padding: 0px !important;
    height: 630px;
    min-height: 630px;
    max-height: 630px;
    border-style: solid;
    border-radius: 00px;
    border-width: 30px;
    border-bottom-width: 100px;
    overflow: hidden;

    .root {
        padding-top: 0px;
    }

}


